body{
	background-color:#f4e242;
	user-select:none;
	font-family: 'Courgette', cursive;
}

h1{
	text-align:center;
	border-top:10px;
	padding:10px;
	font-family: 'Courgette', cursive;
	font-size:75px;
}

h2{
	text-align:center;
	font-size:40px;
}
div.message{
	text-align:center;
	font-size:60px;
}
h2 a{
	text-decoration:none;
}
h2.message, h2.current a{
	color:yellow;
	
}
h2 a:hover{
	color:#626361;
	font-weight:bold;
	
}